.title-area {
  color:white;
  background-color: black;
  background-image: url("../img/calgary-res.jpeg");
  background-repeat:no-repeat;
  background-position: right top;
  background-size: 20% 100%;
}
body {
  background-color: #01A4E4;
}